<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="/lib/pintuer/pintuer.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/lib/jquery.js"></script>
<script src="/lib/pintuer/pintuer.js"></script>
<script src="/lib/layer/layer.js"></script>
<script type="text/javascript" src="/lib/laypage/laypage.js" charset="utf-8"></script>