<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <ul style="display:block">
        <li><a href="/admin/product_list"><span class="icon-caret-right"></span>商品列表</a></li>
        <li><a href="/admin/product_add"><span class="icon-caret-right"></span>发布商品</a></li>
        <li><a href="/admin/record_list"><span class="icon-caret-right"></span>订单记录</a></li>
        <li><a href="/admin/qrcode"><span class="icon-caret-right"></span>支付设置</a></li>
        <li><a href="/admin/pass"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a href="/admin/setting"><span class="icon-caret-right"></span>网站设置</a></li>
    </ul>
</div>